@charset "UTF-8";
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	text-decoration: none;
    color: initial;
    font-family: 'monospace';
	font-size: 18px;
}


#login {
	z-index: 2;
	position: absolute;
	width: auto;
	height: auto;
	top: 15px;
	right:120px;
	font-size:14px;
	padding-right: 30px;
	padding-left:10px;	
	color: #8080c0;
}
#menu{
	z-index: 1;
	position: absolute;
	width: auto;
	height: auto;
	top: 20px;
	right:80px;
	padding-right: 10px;
	padding-left:10px;
	border: 1px solid #FFF;
	color: #f0a;
	
}

table, th, td {
	border: 1px solid black;
	
}
 
#summary {
	color: #000;
	font-family: 'monospace';
	font-size: 18px;
	width: 95%;
}

.summary-table {
	padding-left: 10px;
	padding-Top: 30px;
	border: 0;
 	font-size: 16px;
	width: 95%;
}

th {
	border: 1;
	background-color:#007500;
	font-family: "Open Sans", Arial, sans-serif;
	width:5%;
 	font-size: 16px; 	
 	color: #fcfcfc; text-align : center;
	
}
 

td {
	backgroud-color:#375687;  
	font-family: "Open Sans", Arial, sans-serif;	
 	font-size: 16px;
	color: black; 
	text-align : center;
 	
}

/*額外做顏色，沒有什麼意義*/
tr.tr-only-hide {color: #D20B2A;}

@media (max-width: 600px) {
  .table-rwd{min-width: 100%;}
  /*針對tr去做隱藏*/
  tr.tr-only-hide {display: none !important;}
  /*讓tr變成區塊主要讓他有個區塊*/
  .table-rwd tr{
    display: block;
    border: 1px solid #ddd;
    margin-top: 5px;
  }
  .table-rwd td {
    text-align: left;
    font-size: 15px;
    overflow: hidden;
	border: 1px solid #ddd;
    width: 100%;
    display: block;
	}
	.table-rwd td:before {
    /*最重要的就是這串*/
    content: attr(data-title) " : ";
    /*最重要的就是這串*/
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
	margin-right: 10px;
    color: #D20B2A;
  }
  /*當RWD縮小的時候.table-bordered 會有兩條線，所以針對.table-bordered去做修正*/
  .table-rwd.table-bordered td,.table-rwd.table-bordered th,.table-rwd.table-bordered{border:0; }
  
}